<i>Prochains Cafés Vie Privée</i> : <%= '<em>à définir</em>' if entries.empty? %>
<%- unless entries.empty? -%>
<ul>
	<%- entries.each do |entry| -%>
	<li>
		<%= entry.date %>,
		<%= entry.location %>
	</li>
	<%- end -%>
</ul>
<%- end -%>
