<p class="lead">
	<em>
		Prochains Cafés Vie Privée :
	</em>
</p>
<%= '<p class="lead">À définir</p>' if entries.empty? %>
<%- entries.each do |entry| -%>
<p class="lead">
	<%= entry.date %>,
	<%= entry.location %>
</p>
<%- end -%>
