<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<% link_to '/', class: 'navbar-brand' do %>
				<%= image_tag 'logo.png' %>
				Chiffrofête
			<% end %>
		</div>
	</div>
</div>
