---
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Café Vie Privée</title>
	<subtitle>Chiffrofête / Cryptoparty organisées à Paris et ailleurs</subtitle>
	<link href="<%=  URI.join config[:site_url], url_for('/') %>"/>
	<updated>2014-04-21T16:00:00+02:00</updated>

	<entry>
		<title>Café Vie Privée à Numa le samedi 29 mars 2014 de 15h à 18h</title>
		<updated>2014-03-31T23:34:49+02:00</updated>
		<link href="http://events.numaparis.com/Evenements/Chiffro-fete-3.0" />
	</entry>
	<entry>
		<title>Café Vie Privée au Mokibar le samedi 12 avril 2014 de 15h à 18h</title>
		<updated>2014-03-31T23:34:49+02:00</updated>
		<link href="<%=  URI.join config[:site_url], url_for('/20140412-mokibar.erb') %>"/>
	</entry>
	<entry>
		<title>Café Vie Privée au Hacker Space Festival du jeudi 24 au samedi 26 avril 2014 de 15h à 18h</title>
		<updated>2014-03-31T23:34:49+02:00</updated>
		<link href="http://2014.hackitoergosum.org/hsf/" />
	</entry>
	<entry>
		<title>Café Vie Privée à l'OpenBidouille Camp le dimanche 25 mai 2014 de 15h à 18h</title>
		<updated>2014-04-21T16:00:00+02:00</updated>
		<link href="http://openbidouille.net/post/80174131389/obc-4-le-25-mai-inscrivez-vos-ateliers" />
	</entry>
</feed>
