---
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Café Vie Privée</title>
	<subtitle>Chiffrofête / Cryptoparty organisées à Paris et ailleurs</subtitle>
	<link href="<%=  URI.join config[:site_url], url_for('/') %>"/>
	<updated>2014-05-26T00:00:00+02:00</updated>

	<entry>
		<title>Café Vie Privée à Numa le samedi 29 mars 2014 de 15h à 18h</title>
		<updated>2014-03-31T23:34:49+02:00</updated>
		<link href="http://events.numaparis.com/Evenements/Chiffro-fete-3.0" />
	</entry>
	<entry>
		<title>Café Vie Privée au Mokibar le samedi 12 avril 2014 de 15h à 18h</title>
		<updated>2014-03-31T23:34:49+02:00</updated>
		<link href="<%=  URI.join config[:site_url], url_for('/20140412-mokibar.erb') %>"/>
	</entry>
	<entry>
		<title>Café Vie Privée au Hacker Space Festival du jeudi 24 au samedi 26 avril 2014 de 15h à 18h</title>
		<updated>2014-03-31T23:34:49+02:00</updated>
		<link href="http://2014.hackitoergosum.org/hsf/" />
	</entry>
	<entry>
		<title>Café Vie Privée à l'OpenBidouille Camp le dimanche 25 mai 2014 de 15h à 18h</title>
		<updated>2014-04-21T16:00:00+02:00</updated>
		<link href="http://openbidouille.net/post/80174131389/obc-4-le-25-mai-inscrivez-vos-ateliers" />
	</entry>
	<entry>
		<title>Café Vie Privée à l'Ubuntu Party le samedi 24 et dimanche 25 mai 2014 de 11h à 18h</title>
		<updated>2014-04-30T11:36:00+02:00</updated>
		<link href="http://ubuntu-paris.org/programme" />
	</entry>
	<entry>
		<title>Café Vie Privée au Poop le samedi 14 et dimanche 15 juin 2014 de 11h à 18h</title>
		<updated>2014-05-26T00:00:00+02:00</updated>
		<link href="http://poop.leloop.org/" />
	</entry>
	<entry>
		<title>Café Vie Privée à Pas Sage en Seine du jeudi 26 au dimanche 29 juin 2014 de 11h à 18h</title>
		<updated>2014-05-26T00:00:00+02:00</updated>
		<link href="http://www.passageenseine.org/" />
	</entry>

	<entry>
		<title>Café Vie Privée à la Bellevilloise le mercredi 3 septembre 2014 à partir de 18h</title>
		<updated>2014-08-05T00:00:00+02:00</updated>
		<link href="http://www.labellevilloise.com/2014/06/la-prairie-des-hackers/" />
	</entry>
	<entry>
		<title>Café Vie Privée à Mozilla Paris le samedi 18 octobre 2014 à partir de 13h</title>
		<updated>2014-10-17T00:00:00+02:00</updated>
		<link href="https://events.mozspaces.org/e/403/20141018130000/chiffrofete" />
	</entry>
	<entry>
		<title>Café Vie Privée à l'Ubuntu Party du samedi 15 au dimanche 16 novembre 2014 de 11h à 18h</title>
		<updated>2014-10-17T00:00:00+02:00</updated>
		<link href="http://ubuntu-paris.org/#map" />
	</entry>
	<entry>
		<title>Café Vie Privée à Numa le samedi 21 février 2015 de 14h à 18h</title>
		<updated>2015-02-11T00:08:00+02:00</updated>
		<link href="http://events.numa.paris/Evenements/CHIFFROFETE-3.02" />
	</entry>
	<entry>
		<title>Café Vie Privée au dernier bar avant la fin du monde le samedi 28 février 2015 de 14h à 18h</title>
		<updated>2015-02-11T00:08:00+02:00</updated>
		<link href="https://list.cryptofribourg.ch/t/chiffrofete-special-le-samedi-28-fevrier-au-dernier-bar-avant-la-fin-du-monde-paris/224" />
	</entry>
	<entry>
		<title>Café Vie Privée chez Mozilla le samedi 14 mars 2015 de 14h à 18h</title>
		<updated>2015-03-11T00:00:00+02:00</updated>
		<link href="https://reps.mozilla.org/e/cafe-vie-privee/" />
	</entry>
</feed>
